<div class="container">
    <div class="row">
        <div class="col-md-2">
            <div class="row">
                <img src="{{p.img}}" class="img-fluid" id="my-photo">
            </div>
            <div class="row text-center" id="name-and-title">
                <p><strong>{{p.name}} {{p.lastname}}</strong>
                <br><em>Full Stack Developer Jr.</em></p>
            </div>
        </div>
        <div class="col-md-9 text-center">
            <h1>Acerca de mí</h1>
            <p>
                {{p.description}}
            </p>
        </div>
        <div class="col-md-1" *ngIf="isLogged">
            <button class="btn btn-warning" routerLink="/edit-about/1" style="border-radius: 50%;">
                <i class="bi bi-pencil"></i>
            </button>
        </div>
    </div>
</div>
