<div class="container">
    <div class="row">
        <div class="col-md-2">
            <div class="row">
                <img src="../../../assets/photo-about.png" alt="my photo" class="img-fluid" id="my-photo">
            </div>
            <div class="row text-center" id="name-and-title">
                <p><strong>Marina Natalia Carrizo</strong>
                <br><em>Full Stack Developer Jr.</em></p>
            </div>
        </div>
        <div class="col-md-10">
            <h1>Acerca de mí</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Omnis quibusdam beatae dicta quis impedit similique nihil eligendi eius 
                harum odio voluptas nobis rerum, facilis a culpa placeat quidem vero autem!
            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Temporibus eligendi 
                blanditiis iste facere earum, nihil in, magni, sed nobis atque rem tenetur! 
                Error ratione vitae ex, cupiditate dolores incidunt ullam.
            </p>
        </div>
    </div>
</div>
