<div class="container">
    <div class="row text-center">
        <h1>Proyectos</h1>
    </div>
    <div id="projects-container">
        <div class="row" id="project">
            <h2>Nombre del proyecto</h2>
            <h5>Fecha de realización</h5>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis blanditiis 
                maxime enim, nesciunt delectus, voluptate quia quos pariatur molestiae sit 
                provident a possimus, nam ex sapiente iusto fuga dignissimos dolore?
            </p>
            <div class="d-grid gap-2 col-6 mx-auto" id="project-link">
                <button type="button" class="btn btn-outline-success">Link al proyecto</button>
            </div>
        </div>
    </div>
</div>
