<div class="container content">
    <div class="row text-center">
        <h1>Proyectos</h1>
        <!--
        <button type="button" class="btn btn-dark" routerLink="/new-project" *ngIf="isLogged">
            Añadir proyecto
        </button>
        -->
        <a routerLink="/new-project" *ngIf="isLogged">Añadir proyecto</a>
    </div>
    <div id="projects-container">

        <div class="row p-5" id="project" *ngFor="let proj of project">
            <h2>{{proj.name}}</h2>
            <div class="d-flex justify-content-center align-items-center pb-3">
                <div class="col-md-1" *ngIf="isLogged">
                    <button class="btn btn-warning" routerLink="/edit-project/{{proj.id}}" style="border-radius: 50%;">
                        <i class="bi bi-pencil"></i>
                    </button>
                </div>
                <div class="col-md-1" *ngIf="isLogged">
                    <button class="btn btn-danger" (click)="delete(proj.id)" style="border-radius: 50%;">
                        <i class="bi bi-trash"></i>
                    </button>
                </div>
            </div>

            <p>
                {{proj.description}}
            </p>
            <div class="d-grid gap-2 col-6 mx-auto" id="project-link">
                <a href="{{proj.link}}" target="_blank">
                    <button type="button" class="btn btn-primary">Ir al proyecto</button>
                </a>
            </div>
            
        </div>
    </div>
</div>