<div class="container">
    <div class="row text-center">
        <h1>Educación</h1>
    </div>

    <div id="education-container">
        <div class="row" id="education">
            <div class="col-md-2">
                <img src="../../../assets/default-img.jpg" alt="logo educational establishment" class="img-fluid">
            </div>
            <div class="col-md-10">
                <h2>Titulo educación</h2>
                <h5>Fecha desde - Fecha hasta</h5>
                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat et ab atque accusamus 
                    incidunt porro, quisquam quas impedit, consequatur sunt cum. Praesentium deserunt 
                    voluptates itaque impedit vitae fugiat nisi suscipit.
                </p>
            </div>
        </div>
    </div>
</div>
