<div class="container">
    
    <div class="row text-center">
        <h1>Habilidades</h1>
    </div>

    <div id="skills-container">
        <div class="row">
            <div class="col-md-4">
                <circle-progress
                    [percent]="85"
                    [radius]="100"
                    [outerStrokeWidth]="10"
                    [innerStrokeWidth]="8"
                    [innerStrokeWidth]="3"
                    [outerStrokeColor]="'#2596be'"
                    [innerStrokeColor]="'#82498c'"
                    [title]="'JAVA'"
                    [showUnits]="false"
                    [titleColor]="'#ffffff'"
                    [unitsColor]="'#ffffff'"
                    [showSubtitle]="false"
                    [animation]="true"
                    [animationDuration]="500"
                    >
                </circle-progress>
            </div>
        </div>
    </div>
    
</div>
