<div class="container content py-5">
    
    <div class="row text-center pb-5">
        <h1>Habilidades</h1>
        <button type="button" class="btn btn-dark" routerLink="/new-skill" *ngIf="isLogged">
            Agregar habilidad
        </button>
    </div>

    <div id="skills-container p-5">
        <div class="row">
            <div class="col-md-3" *ngFor="let s of skill">
                <circle-progress class="d-flex justify-content-center"
                    [percent]="(s.percentage)"
                    [radius]="100"
                    [outerStrokeWidth]="10"
                    [innerStrokeWidth]="8"
                    [innerStrokeWidth]="3"
                    [outerStrokeColor]="'#2596be'"
                    [innerStrokeColor]="'#82498c'"
                    [title]="(s.name)"
                    [showUnits]="false"
                    [titleColor]="'#000000'"
                    [unitsColor]="'#000000'"
                    [showSubtitle]="false"
                    [animation]="true"
                    [animationDuration]="500"
                    >
                </circle-progress>

                <div class="row pb-5">
                    <div class="col-md-6 d-flex justify-content-center" *ngIf="isLogged">
                        <button class="btn btn-warning" routerLink="/edit-skill/{{s.id}}" style="border-radius: 50%;">
                            <i class="bi bi-pencil"></i>
                        </button>
                    </div>
                    <div class="col-md-6 d-flex justify-content-center" *ngIf="isLogged">
                        <button class="btn btn-danger" (click)="delete(s.id)" style="border-radius: 50%;">
                            <i class="bi bi-trash"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>
