<div class="container">
    <div class="row text-center">
        <h1>Experiencia laboral</h1>
    </div>
    <div id="experience-container">
        <div class="row" id="experience">
            <div class="col-md-2" id="img-experience">
                <img src="../../../assets/default-img.jpg" alt="experience-photo" class="img-fluid">
            </div>
            <div class="col-md-10" id="description-experience">
                <h2>Titulo experiencia</h2>
                <h5>Fecha desde - Fecha hasta </h5>
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aperiam, architecto aspernatur 
                    accusamus itaque, eum laudantium labore minima asperiores consequatur, magni soluta ea! 
                    Laborum corrupti molestiae officiis placeat enim quo vitae?
                </p>
            </div>
        </div>
    </div>
</div>
