<div class="container content">
    <div class="row text-center">
        <h1>Experiencia laboral</h1>
        <button type="button" class="btn btn-dark" routerLink="/new-experience" *ngIf="isLogged">
            Agregar experiencia laboral
        </button>
    </div>
    <div id="experience-container">
        
        <div class="row p-5" id="experience" *ngFor="let exp of experience">
            <div class="col-md-2 d-flex justify-content-center align-items-center" id="img-experience">
                <div *ngIf="exp.img; then expImg else defaultImg"></div>
                <ng-template #expImg>
                    <img src="{{exp.img}}" alt="experience-photo" class="img-fluid">
                </ng-template>
                <ng-template #defaultImg>
                    <img src="../../../assets/default-img.jpg" alt="experience-photo" class="img-fluid">
                </ng-template>
            </div>
            <div class="col-md-10 pt-2" id="description-experience">
                <h2>{{exp.name}}</h2>
                <div class="d-flex justify-content-center align-items-center pb-3">
                    <div class="col-md-1" *ngIf="isLogged">
                        <button class="btn btn-warning" routerLink="/edit-experience/{{exp.id}}" style="border-radius: 50%;">
                            <i class="bi bi-pencil"></i>
                        </button>
                    </div>
                    <div class="col-md-1" *ngIf="isLogged">
                        <button class="btn btn-danger" (click)="delete(exp.id)" style="border-radius: 50%;">
                            <i class="bi bi-trash"></i>
                        </button>
                    </div>
                </div>
                
                <div *ngIf="exp.dateTo; then thenBlock else elseBlock"></div>
                <ng-template #thenBlock><h5>Periodo: {{exp.dateFrom}} - {{exp.dateTo}}</h5></ng-template>
                <ng-template #elseBlock><h5>Perdiodo: {{exp.dateFrom}} - Actualidad</h5></ng-template>
                                
                <p>
                    {{exp.description}}
                </p>
            </div>
        </div>
    </div>
</div>
