<div class="container">
    <div class="row text-center">
        <h1>Experiencia laboral</h1>
    </div>
    <div id="experience-container">
        <div class="col-lg-2">
            <button type="button" class="btn btn-dark" routerLink="/new-experience" *ngIf="isLogged">
                Agregar experiencia laboral
            </button>
        </div>
        
       
        <div class="row py-5" id="experience" *ngFor="let exp of experience">
            <div class="col-md-2" id="img-experience">
                <img src="../../../assets/default-img.jpg" alt="experience-photo" class="img-fluid">
            </div>
            <div class="col-md-8" id="description-experience">
                <h2>{{exp.name}}</h2>
                
                <div *ngIf="exp.dateTo; then thenBlock else elseBlock"></div>
                <ng-template #thenBlock><h5>Periodo: {{exp.dateFrom}} - {{exp.dateTo}}</h5></ng-template>
                <ng-template #elseBlock><h5>Perdiodo: {{exp.dateFrom}} - Actualidad</h5></ng-template>
                                
                <p>
                    {{exp.description}}
                </p>
            </div>
            <div class="col-md-1" *ngIf="isLogged">
                <button class="btn btn-warning" routerLink="/edit-experience/{{exp.id}}" style="border-radius: 50%;">
                    <i class="bi bi-pencil"></i>
                </button>
            </div>
            <div class="col-md-1" *ngIf="isLogged">
                <button class="btn btn-danger" (click)="delete(exp.id)" style="border-radius: 50%;">
                    <i class="bi bi-trash"></i>
                </button>
            </div>
        </div>
        
    </div>
</div>
